header{
    background-color: #deecac;
    font-size: xx-large;
    text-align: center;
}
.barre{
    display: flex;
    flex-direction: column;
}

#IIM{
    width: 5%;
    height: 5%;
    
}

#Louis{
    align-items: center;
    width: 25%;
}
